*, ::after, ::before{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    letter-spacing: -.31em;
    margin: 0;
    padding: 0;
}

div{
    display: block;
    letter-spacing: normal;
}

.ir{
    min-height: 634px;
    background-image: url('bi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vidus{
    position: relative;
    height: 634px;
}


.header{
    background-color: transparent;
    position: relative;
    height: 65px;
    padding: 0 10px;
    z-index: 7;
}

.meniu, .logo, .ikoneles{
    position: relative;
    display: table; 
    float: left;
    text-align: center;
}

.ikoneles{
    line-height: 59px;
    height: 59px;
    padding: 2px 0px;
}

.logo{
    line-height: 40px;
    height: 40px;
    padding: 17px 0px 1px 0px;
    cursor: pointer;
}

.header::after{
    content: '';
    display: table;
    clear: both;
}

.meniu{
    line-height: 61px;
    height: 61px;
    padding: 2px 0px;
    display: table-cell;
    vertical-align: middle;
    min-height: 1px;
    padding-left: 0;
}

/* .but{
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
} */

.hamburger{
    font-size: 1.66667em;
    padding: 10px;
}

.hamburger::before{
    content: "\f0c9";
    display: inline;
    font-family: 'Font Awesome 5 Free';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.ikoneles{
    color: black;
    min-height: 1px;
    margin: 0;
}

.search{
    color: black;
    display: inline-block;
    padding: 0px;
    height: 59px;
}

.cart{
    color: black;
    display: inline-block;
    padding: 0px;
    height: 59px;
}


.search::after{
    content:"\f07a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 23px;
}

.cart::after{
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 23px;
}

.logoimg img{
    max-height: 65px;
    display: block;
    margin: 0;
    border: 0;
}

.center::after{
    content: "";
    opacity: 0;
    transition: opacity 1s cubic-bezier(.29,.63,.44,1);
}

.SW:hover{
    background-color: black;
}

.center {
    position: relative;
    vertical-align: middle;
    text-align: center;
    /* font-size: 1.6em; */
    top: 160px;
}

.SC {
    font-size: 41.5999px;
    font-weight: 900;
    letter-spacing: .05em;
    line-height: 1.4;
    margin-block-start: 0.67em;
}

.SW {
    height: 47px;
    line-height: 47px;
    width: 188px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .05em;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}

.linija{
    top: 356px;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}

.linijosnav{
    position: relative;
    overflow: hidden;
    background:  rgba(0, 0, 0, 0.801);
    height: 52px;
}

ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dd{
    top: 0;
    visibility: visible;
    display: block;
    position: absolute;
    height: 50px;
    min-width: 100%;
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.801);
    transition: all .2s cubic-bezier(.57,.06,.05,.95);
}

.rd{
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}

[class^="ras"] {
    color: white;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    letter-spacing: .05em;
    font-size: 16px;
    padding: 0 10px;
    background-color: transparent;
    border: 0 none;
    line-height: 50px;
    text-decoration: none;
}

.rasa:after{
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    left: 10px;
    right: 10px;
    background: white;
}

.grid{
    margin: 0;
    padding: 0;
    list-style: none;
}

.grid::after{
    content: '';
    display: table;
    clear: both;
}

.fotokont{
    padding-left: 0;
    float: left;
    position: relative;
    max-width: 428px;
    margin: 0;
    overflow: hidden;
}


.foto{
    position: relative;
    height: 0;
    display: inline-block;
    width: 100%;
    margin: 0;
}

.paroda img{
    width: 100%;
    object-fit: cover;
}

.paroda{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    transition: opacity .2s ease;
    max-width: 100%;
    border: 0;
    cursor: pointer;
}

.uzrasas{
    position: relative;
    float: left;
    padding-top: 20px;
    cursor: pointer;
    margin: 0;
    min-height: 80px;
    bottom: 0;
}

.pavadinimas{
    margin: 0 15px 2px 15px;
    font-size: 1em;
    font-family: Karla,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    letter-spacing: .05em;
    font-size: 15px;
}

.price{
    margin: 0 15px 2px 15px;
    margin-bottom: 0;
    font-size: 13px;
    color: #666;
}

.price1{
    margin: 0 15px 2px 15px;
    margin-bottom: 0;
    font-size: 15px;
}

.price2{
    margin: 0 15px 2px 15px;
    font-size: 13px;
}

.price s{
    opacity: .7;
}

.cena{
    color: #dac08e;
    padding-left: 5px;
}

.sale{
    position: absolute;
    top: -26px;
    right: -94px;
    width: 200px;
    padding: 40px 4px 4px;
    text-align: center;
    background-color: #dac08e;
    color: #fff;
    font-size: .86667em;
    font-weight: 700;
    transform: rotate(45deg) translateZ(0);
    cursor: pointer;
}

.apacia{
    margin-top: 60px;
}

.apacia::after{
    content: '';
    display: table;
    clear: both;
}


.grid1{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.info{
    max-width: 780px;
    margin: 0 auto;
    padding: 0 20px;
}

.showcase{
    text-align: center;
    font-family: Karla,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    letter-spacing: .05em;
    margin: 0 0 .66667em;
    line-height: 1.4;
    color: #1a1a1a;
    font-size: 1.66667em;
    font-size: 25px;
}

.baby{
    text-align: center;
    margin: 0 0 20px;
    color: #666;
}

.company{
    color: #1a1a1a;
    text-decoration: none;
}

.company:hover{
color:  rgba(0, 0, 0, 0.801);
}

.gard{
    padding-top: 15px;
    margin: 0 0 20px;
}

.gardi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 0;
}

.time{
    text-align: center;
    line-height: 1.6;
    color: #666;
    margin: 0 0 20px;
}

.textas{
    color: #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    padding-bottom: 2px;
    display: inline;
    text-decoration: none;
    background: 0 0;
    margin: 0;
}

.grid::after{
    content: '';
    display: table;
    clear: both;
}

.subscribe{
    display: block;
    margin-top: 60px;
    text-align: center;
}

.text2{
    font-family: Karla,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 0 0 .66667em;
    line-height: 1.4;
    color: #1a1a1a;
    font-size: 21px;
    letter-spacing: .05em;
}

.short{
    margin: 0 0 20px;
    color: #666;
    line-height: 1.6;
}

.form{
    display: block;
    margin-top: 0em;
}

.inputg{
    width: 100%;
}

.label1{
    position: absolute;
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

a{
    text-decoration: none;
    color: #5c5c5c;
}

.email{
    padding: 10px;
    width: 270px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    color: #666;
}

.email1{
    padding: 10px 12px;
    background-color: #f4f4f4;
    border: 0 none;
    max-width: 100%;
}

.sub{
    margin-left: -4px;
    border-width: 0;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.submit{
    position: relative;
    padding: 10px 30px;
    border-radius: 2px;
    font-family: Karla,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    letter-spacing: .05em;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #fff;
    border: solid #1a1a1a;
    cursor: pointer;
}

.submit:hover{
    background-color: black;
    border: solid black;
}

.footer{
    background-color: #f9f9f9;
    color: #5c5c5c;
    padding: 40px 20px;
    display: block;
}

.list{
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
}


.ha41{
    margin-bottom: 0;
    font-size: 15px;
    font-family: Karla,sans-serif;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    letter-spacing: .05em;
    line-height: 1.4;
    list-style: none;
}

.ha41 a{
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    color: #5c5c5c;
}

.ha41 a:hover{
    opacity: 0.6;
}

.ikonos{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
}

.soc{
    vertical-align: middle;
    padding-top: 15px;
}

.soc1{
    display: block;
    margin-top: 10px;
    padding: 0;
}

.soc1 li{
    display: inline-block;
    text-align: center;
}

.fb{
    margin-bottom: 10px;
}

.fbbb{
    font-size: 18px;
    color: #5c5c5c;
}

.yaz::before{
    content: '\f082';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    line-height: 1;
}

.insta .yt{
    margin-left: 10px;
    margin-bottom: 10px;
}

.insta::before{
    content: '\f16d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    line-height: 1;
    font-size: 18px;
    cursor: pointer;
}

.yt::before{
    content: '\f167';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    line-height: 1;
    font-size: 18px;
    cursor: pointer;
}

.reco, .visa{
    float: left;
    padding-left: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.remco{
    color: #5c5c5c;
    font-size: 15px;
}

.remco a:hover{
    opacity: 0.6;
}

.vi0sa{
    padding: 0;
    margin-top: 10px;
    user-select: none;
    cursor: default;
    list-style: none;
}

.fbd{
    margin-bottom: 10px;
    display: inline-block;
}

/* <!-- ///////////////////////////////MEDIAQUERRIES/////////////////////////// --> */

@media only screen and (max-width: 989px) {
    
    .fotokont{
        margin-bottom: 40px;
    }
    .uzrasas{
        padding-top: 20px;
        float: left;
        width: 100%;
    }

    .email.email1{
        font-size: 16px;
    }

    .remco .soc1 .vi0sa{
        display: block;
    text-align: center;
    margin-bottom: 20px;
    }

}


@media only screen and (max-width: 750px) {
    .small {
        width: 50%;
    }

    .jo{
        width: 33.33333%;
    }

    img{
        max-width: 100%;
    }

    .SC{
        font-size: 31.99999px;
    }

    .linija{
        top: 385px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 989px) {
    .medium {
        width: 33.33333%;
    }

    .two-thirds{
        width: 66.66667%;
    }

    .sesiolika{
        width: 16.66667%;
    }

}

@media only screen and (min-width: 990px){
    .large {
        width: 25%;
    }

    .two-thirds{
        width: 66.66667%;
    }

    .sesiolika{
        width: 16.66667%;
    }

    .uzrasas{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: 0 20px;
        transition: top .3s ease;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        height: 45px;
        /* visibility: hidden; */
    }

    .fotokont{
        transition: opacity .4s ease;
    }

    .fotokont:hover{
        opacity: .1;
    }

    .uzrasas:hover{
        text-align: center;
        visibility: visible;
        top: 50%;
        /* font-size: 40px; */
    }

    .email, .email1{
        font-size: 15px;
    }

    .ha41{
        display: inline-block;
    }

    .soc, .visa{
        width: 25%;
        float: none;
        display: table-cell;
        vertical-align: middle;
        min-height: 1px;
        padding-left: 0;
        height: 90px;
    }

    .reco{
        width: 50%;
        float: none;
        display: table-cell;
        vertical-align: middle;
        min-height: 1px;
        padding-left: 0;
        height: 90pxs;
    }

    .vi0sa{
        margin-left: 30px;
        margin-bottom: 0;
    }

    .soc1{
        margin-right: 30px;
        margin-bottom: 0;
    }

}